
.category-nav{
	margin-top: 0;
	margin-bottom: 0;
}

.navbar-brand{
	font-size: 30px;
}

.navbar{
	margin-bottom: 0;
}


/* .jumbotron{
	margin: 0 0 0 0;
	background-image: url(jumbotronBG.png);
	background-position: 0% 30%;
	height: 200px;
	background-size: cover;
	background-repeat: no-repeat;
	color: white;
	text-align: center;
	font-size: 80px;
} */

*{
	margin: 0px;
	padding: 0px;
}



